.wel{
  background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true");
  text-align: center;
  padding-left: 2%;
  padding: 200px;
  padding-bottom: 22%;
  color: white;
}

.pic{
  margin-bottom: -20%;
}

.us{
  text-align: center;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 80%;
}

.serve{
  background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/s_image.jpg?raw=true");
  text-align: center;
  padding-left: 2%;
  padding-bottom: 10%;
  color: white;
  padding-top: 5%;
}

.pot {
  text-align: center;
}

.wat{
  text-align: center;
  font-style: italic;
  font-weight: bolder;
  padding-bottom: 5%;
}

h6{
  font-weight: bold;
  font-size: 150%
}

.lolo{
  background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/c_image.jpg?raw=true");
  padding: 10%;

}
.lolo input{
  background: transparent;
}

.apt{
  padding-bottom: 10%;
  padding-right: 25%;
}
::placeholder{
  color: white;
}

.heri{
  text-align: center;
  padding-top: 5%
}

.below {
  text-align: center;
}

#up{
  display: none;
}
